<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  
  *************************************************************************************************
  A complete example of BigVisibleCruise can be see below...
  *************************************************************************************************
  
    <BigVisibleCruise.Properties.Settings>
      <setting name="PollFrequency" serializeAs="String">
        <value>00:00:15</value>
      </setting>
      <setting name="Dashboard" serializeAs="String">
        <value>http://ccnetlive.thoughtworks.com/ccnet/XmlStatusReport.aspx</value>
      </setting>      
      <setting name="Skin" serializeAs="String">
        <value>LiveUniformStatus</value>
      </setting>
    </BigVisibleCruise.Properties.Settings>
  
  Examples of the individuals settings are outlined below...
  
  *************************************************************************************************
  Polling Frequency
  *************************************************************************************************
  
  You have control over the polling frequency that the application uses to poll the dashboards that
  are configured. At the stated polling interval the application will request the Dasboards that
  have been configure.
   
  By default, the polling service is configured to poll every 15 seconds.
   
      <setting name="PollFrequency" serializeAs="String">
        <value>00:00:15</value>
      </setting>
  
  *************************************************************************************************
  Dashboard Setting
  *************************************************************************************************
  
  For BigVisibleCruise to display your status report, you need to tell it where your dashboard lives.
  
  There are a variety of Cruise Control implementations that publish this information. The flavor
  of cruise that you are using (Java, .Net, .rb) needs to support an endpoint with this xml 
  exposed.
  
  For this setting, put in the url of the xml.

  Here is a Java example...
  
      <setting name="Dashboard" serializeAs="String">
        <value>http://www.spice-3d.org/cruise/xml</value>
      </setting>

  Here is a .Net example...
  
      <setting name="Dashboard" serializeAs="String">
        <value>http://ccnetlive.thoughtworks.com/ccnet/XmlStatusReport.aspx</value>
      </setting>
      
  Here is a .rb example...
  
      <setting name="Dashboard" serializeAs="String">
        <value>http://cruisecontrolrb.thoughtworks.com/XmlStatusReport.aspx</value>
      </setting>
    
  *************************************************************************************************
  Skin Selection
  *************************************************************************************************
  
  For the uniform view (distributed evenly)...
  
      <setting name="Skin" serializeAs="String">
        <value>LiveUniformStatus</value>
      </setting>

 For the vertically stacked view...
 
      <setting name="Skin" serializeAs="String">
        <value>LiveStackedStatus</value>
      </setting>
  
  -->

 <configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="BigVisibleCruise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
  </configSections>
  <userSettings>
    <BigVisibleCruise.Properties.Settings>
      <setting name="Dashboard" serializeAs="String">
        <value>http://ccnetlive.thoughtworks.com/ccnet/XmlStatusReport.aspx</value>
      </setting>
      <setting name="Skin" serializeAs="String">
        <value>LiveStackedStatus</value>
      </setting>
      <setting name="PollFrequency" serializeAs="String">
        <value>00:00:30</value>
      </setting>
      <setting name="ExplicityIncludeProjectRegEx" serializeAs="String">
        <value>.*</value>
      </setting>
    </BigVisibleCruise.Properties.Settings>
  </userSettings>
</configuration>