<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  
  For BigVisibleCruise to display your status report, you need to tell it where your dashboard or 
  dashboards live.
  
  The url that you need provide should end with "XmlStatusReport.aspx." This location is where the
  xml lives that the application will use to find out the status of a project that is running
  under cruise.
  
      <setting name="Dashboards" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>http://one/ccnet/XmlStatusReport.aspx</string>
          </ArrayOfString>
        </value>
      </setting>
   
  If you want to aggregate multiple locations into one BigVisibleCruise window, you can add multiple
  locations by adding the appropriate settings.
  
        <setting name="Dashboards" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>http://one/ccnet/XmlStatusReport.aspx</string>
            <string>http://two/ccnet/XmlStatusReport.aspx</string>
          </ArrayOfString>
        </value>
      </setting>
      
   You have control over the polling frequency that the application uses to poll the dashboards that
   are configured. At the stated polling interval the application will request the Dasboards that
   have been configure.
   
   By default, the polling service is configured to poll every 15 seconds.
   
      <setting name="PollFrequency" serializeAs="String">
        <value>00:00:15</value>
      </setting>
  
  If you would like to create more readable names from your dashboard names, you can map them. An
  equals sign will guide the replacement. Below a project with the name of 'before' will display
  as 'after' on the screen, a project with the name of 'before 2' will display as 'after 2' on
  the screen.
  
        <setting name="ProjectNameSubstitutions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>before=after</string>
            <string>before 2=after 2</string>
          </ArrayOfString>
        </value>
      </setting>
  
  -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BigVisibleCruise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <BigVisibleCruise.Properties.Settings>
      <setting name="PollFrequency" serializeAs="String">
        <value>00:00:15</value>
      </setting>
      <setting name="ProjectNameSubstitutions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ccnetlive=CC Net Live</string>
            <string>NMock=This is NMock!</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Dashboards" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>http://ccnetlive.thoughtworks.com/ccnet/XmlStatusReport.aspx</string>
          </ArrayOfString>
        </value>
      </setting>
    </BigVisibleCruise.Properties.Settings>
  </applicationSettings>
</configuration>