<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  
  For BigVisibleCruise to display your status report, you need to tell it where your dashboard or 
  dashboards live.
  
  The url that you need provide should end with "XmlStatusReport.aspx." This location is where the
  xml lives that the application will use to find out the status of a project that is running
  under cruise.
  
      <setting name="Dashboards" serializeAs="String">
        <value>http://ccnetlive.thoughtworks.com/ccnet/XmlStatusReport.aspx</value>
      </setting>
   
  If you want to aggregate multiple locations into one BigVisibleCruise window, you can add multiple
  location by delimiting them with a comma.
  
      <setting name="Dashboards" serializeAs="String">
        <value>http://one/ccnet/XmlStatusReport.aspx,http://two/ccnet/XmlStatusReport.aspx</value>
      </setting>
      
   You have control over the polling frequency that the application uses to poll the dashboards that
   are configured. At the stated polling interval the application will request the Dasboards that
   have been configure.
   
   By default, the polling service is configured to poll every 15 seconds.
   
      <setting name="PollFrequency" serializeAs="String">
        <value>00:00:15</value>
      </setting>
  
  -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BigVisibleCruise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <BigVisibleCruise.Properties.Settings>
      <setting name="PollFrequency" serializeAs="String">
        <value>00:00:15</value>
      </setting>
      <setting name="Dashboards" serializeAs="String">
        <value>http://ccnetlive.thoughtworks.com/ccnet/XmlStatusReport.aspx</value>
      </setting>
    </BigVisibleCruise.Properties.Settings>
  </applicationSettings>
</configuration>