<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BigVisibleCruise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <BigVisibleCruise.Properties.Settings>
      <setting name="PollFrequency" serializeAs="String">
        <value>00:00:15</value>
      </setting>
      <setting name="Dashboard" serializeAs="String">
        <value>http://ccnetlive.thoughtworks.com/ccnet/XmlStatusReport.aspx</value>
      </setting>
      <setting name="ProjectNameSubstitutions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>NMock=NMock Project</string>
            <string>CCNet=Cruise Control .Net Project</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ProjectNamesToInclude" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>NMock</string>
            <string>CCNet</string>
          </ArrayOfString>
        </value>
      </setting>
    </BigVisibleCruise.Properties.Settings>
  </applicationSettings>
</configuration>