<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BigVisibleCruise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <BigVisibleCruise.Properties.Settings>
      <setting name="PollFrequency" serializeAs="String">
        <value>00:00:15</value>
      </setting>
      <setting name="Dashboard" serializeAs="String">
        <value>http://ccnetlive.thoughtworks.com/ccnet/XmlStatusReport.aspx</value>
      </setting>
    </BigVisibleCruise.Properties.Settings>
  </applicationSettings>
</configuration>